@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@100&display=swap');
.navbar{
  background:#131722 !important;
}
.navbar a{
  color: #fff;
}
.navbar a:hover{
  color: gainsboro !important;
}
body{
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
background:#131722;
}
.form-control{
  background: transparent;
  color: #fff;
}
.textmove{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linetext{
  height: .5px;
  background-color: gray;
}
.out{
  cursor: pointer;
}
.imgdata{
  cursor: pointer;
}
.genres{
  background: cornflowerblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.mm{
  font-size: 15px;
}
@media screen and (max-width:991px) {
.reg-nav{
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
}
}